<div class="card-header text-white bg-success" style="text-align: center;">Loại</div>
<div class="list-group text-center">
    {{#each cats }}
    <a href="/buyer/{{ma_so}}/products" class="list-group-item list-group-item-action {{#if isActive}} active {{/if}}">
        {{ten}}
    </a>
    {{/each}}
</div>
