<!doctype html>
<html lang="en">

<head>
  <title>Online Auction</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{{_sections.css}}}

</head>

<body>

  {{{body}}}

  {{{_sections.javascript}}}

</body>

</html>